# Getting Financial Data - Pandas Datareader

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [3]:
pip install pandas-datareader

Collecting pandas-datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
     -------------------------------------- 109.5/109.5 kB 1.3 MB/s eta 0:00:00
Requirement already satisfied: requests>=2.19.0 in c:\users\windows\appdata\local\programs\python\python310\lib\site-packages (from pandas-datareader) (2.28.0)
Requirement already satisfied: lxml in c:\users\windows\appdata\local\programs\python\python310\lib\site-packages (from pandas-datareader) (4.9.2)
Requirement already satisfied: pandas>=0.23 in c:\users\windows\appdata\local\programs\python\python310\lib\site-packages (from pandas-datareader) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\windows\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.23->pandas-datareader) (2022.2.1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\windows\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.23->pandas-datareader) (1.23.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\windows\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\windows\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.19.0->pandas-datareader) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\windows\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2022.5.18.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\windows\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in c:\users\windows\appdata\local\programs\python\python310\lib\site-packages (from requests>=2.19.0->pandas-datareader) (3.3)
Requirement already satisfied: six>=1.5 in c:\users\windows\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas-datareader) (1.16.0)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.10.0

[notice] A new release of pip available: 22.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [129]:
import pandas as pd
import pandas_datareader.data as web
import datetime as dt
import os

In [132]:
APIKEY="GUE5RKWBE7MYAFRQ"

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is).

In [131]:
start = dt.datetime(2015, 1, 1)
end = dt.datetime.now()
rng = pd.date_range(start=start, end=end)

None

### Step 3. Get an API key for one of the APIs that are supported by Pandas Datareader, preferably for AlphaVantage.

If you do not have an API key for any of the supported APIs, it is easiest to get one for [AlphaVantage](https://www.alphavantage.co/support/#api-key). (Note that the API key is shown directly after the signup. You do *not* receive it via e-mail.)

(For a full list of the APIs that are supported by Pandas Datareader, [see here](https://pydata.github.io/pandas-datareader/readers/index.html). As the APIs are provided by third parties, this list may change.)

### Step 4. Use Pandas Datarader to read the daily time series for the Apple stock (ticker symbol AAPL) between 01/01/2015 and today, assign it to df_apple and print it.

In [133]:
df_apple = web.DataReader("AAPL", "av-daily", start=start, end=end, api_key=os.environ.get('APIKEY'), )

### Step 5. Add a new column "stock" to the dataframe and add the ticker symbol

In [134]:
df_apple["stock"] = "AAPL"

In [135]:
df_apple.head()
df_apple.index = pd.to_datetime(df_apple.index)

### Step 6. Repeat the two previous steps for a few other stocks, always creating a new dataframe: Tesla, IBM and Microsoft. (Ticker symbols TSLA, IBM and MSFT.)

In [136]:
df_tesla = web.DataReader("TSLA", "av-daily", start=start, end=end, api_key=API_KEY, )
df_tesla["stock"] = "TSLA"
df_tesla.index = pd.to_datetime(df_tesla.index)

df_ibm = web.DataReader("IBM", "av-daily", start=start, end=end, api_key=API_KEY, )
df_ibm["stock"] = "IBM"
df_ibm.index = pd.to_datetime(df_ibm.index)

df_microsoft = web.DataReader("MSFT", "av-daily", start=start, end=end, api_key=API_KEY, )
df_microsoft["stock"] = "MSFT"
df_microsoft.index = pd.to_datetime(df_microsoft.index)

### Step 7. Combine the four separate dataFrames into one combined dataFrame df that holds the information for all four stocks

In [137]:
df = pd.concat([df_apple, df_microsoft, df_ibm, df_tesla], axis=0, join='outer')

### Step 8. Shift the stock column into the index (making it a multi-level index consisting of the ticker symbol and the date).

In [138]:
df.set_index([df.index, df.stock], inplace=True)

### Step 7. Create a dataFrame called vol, with the volume values.

In [139]:
vol  = pd.DataFrame(df.volume, columns=["volume"])

### Step 8. Aggregate the data of volume to weekly.
Hint: Be careful to not sum data from the same week of 2015 and other years.

In [140]:
aggregated_weekly = vol.unstack().resample('W').sum()

In [141]:
aggregated_weekly.head()

               volume
stock            AAPL       IBM       MSFT      TSLA
2015-01-04   53204626   5525341   27913852   4764443
2015-01-11  282868187  24440360  158596624  22622034
2015-01-18  304226647  23272056  157088136  30799137
2015-01-25  198737041  31230797  137352632  16215501
2015-02-01  465842684  32927307  437786778  15720217

### Step 9. Find all the volume traded in the year of 2015

In [142]:
aggregated_yearly = vol.unstack().resample('Y').sum()

In [143]:
aggregated_yearly.loc[aggregated_yearly.index[0]]

        stock
volume  AAPL     13064316775
        IBM       1105545521
        MSFT      9057582311
        TSLA      1086708380
Name: 2015-12-31 00:00:00, dtype: int64

In [144]:
aggregated_yearly

                 volume
stock              AAPL         IBM        MSFT         TSLA
2015-12-31  13064316775  1105545521  9057582311   1086708380
2016-12-31   9685871785  1019094793  7819939988   1162208297
2017-12-31   6687212823  1039615953  5520171227   1573468607
2018-12-31   8467093298  1360428693  7845245542   2156836605
2019-12-31   7086568153   948807295  6215102095   2316503502
2020-12-31  18552582945  1402433673  9525255449   7541015999
2021-12-31  22798348120  1350035200  6549434731   6895260777
2022-12-31  22050192133  1256704835  7828874003  12681148561
2023-12-31   9666143842   741814145  4693645254  23315108266