# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

### Step 4. Create columns for the dataset

In [3]:
#### 1. sepal_length (in cm)
#### 2. sepal_width (in cm)
#### 3. petal_length (in cm)
#### 4. petal_width (in cm)
#### 5. class

In [31]:
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names=["sepal_length", "sepal_width", "petal_length", "petal_width", "class"])
iris.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

### Step 5.  Is there any missing value in the dataframe?

In [32]:
iris.isnull().any()

sepal_length    False
sepal_width     False
petal_length    False
petal_width     False
class           False
dtype: bool

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [33]:
iris.loc[10: 30, ["petal_length"]] = np.nan

In [34]:
iris.isnull().any()

sepal_length    False
sepal_width     False
petal_length     True
petal_width     False
class           False
dtype: bool

### Step 7. Good, now lets substitute the NaN values to 1.0

In [35]:
iris = iris.fillna(1.0)

In [36]:
iris.isnull().any()

sepal_length    False
sepal_width     False
petal_length    False
petal_width     False
class           False
dtype: bool

### Step 8. Now let's delete the column class

In [37]:
iris.drop("class", inplace=True, axis=1)

In [38]:
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width'], dtype='object')

### Step 9.  Set the first 3 rows as NaN

In [39]:
iris.loc[:2, :] = np.nan

In [40]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           NaN          NaN           NaN          NaN
1           NaN          NaN           NaN          NaN
2           NaN          NaN           NaN          NaN
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

### Step 10.  Delete the rows that have NaN

In [41]:
iris.drop(index=iris.index[:3], axis=0, inplace=True)

### Step 11. Reset the index so it begins with 0 again

In [45]:
iris.reset_index(drop=True, inplace=True)

In [46]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           4.6          3.1           1.5          0.2
1           5.0          3.6           1.4          0.2
2           5.4          3.9           1.7          0.4
3           4.6          3.4           1.4          0.3
4           5.0          3.4           1.5          0.2

### BONUS: Create your own question and answer it.