# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_table("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv")

In [3]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [10]:
chipo.item_price = chipo.item_price.astype(str).str.replace("$", "")
chipo.item_price = pd.to_numeric(chipo.item_price)
print(chipo.item_price.dtype)

float64

C:\Users\WinDows\AppData\Local\Temp\ipykernel_9780\2181646240.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  chipo.item_price = chipo.item_price.astype(str).str.replace("$", "")

### Step 4. How many products cost more than $10.00?

In [20]:
expensive_orders = chipo[chipo.item_price > 10.0] 
len(cost_10.value_counts())

1116

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [22]:
expensive_orders[["item_name", "item_price"]]

               item_name  item_price
4           Chicken Bowl       16.98
5           Chicken Bowl       10.98
7          Steak Burrito       11.75
13          Chicken Bowl       11.25
23       Chicken Burrito       10.98
...                  ...         ...
4610       Steak Burrito       11.75
4611      Veggie Burrito       11.25
4617       Steak Burrito       11.75
4618       Steak Burrito       11.75
4619  Chicken Salad Bowl       11.25

[1130 rows x 2 columns]

### Step 6. Sort by the name of the item

In [23]:
expensive_orders[["item_name", "item_price"]].sort_values(by="item_name")

              item_name  item_price
3389  6 Pack Soft Drink       12.98
1643      Barbacoa Bowl       11.75
919       Barbacoa Bowl       11.75
3547      Barbacoa Bowl       11.75
4510      Barbacoa Bowl       11.49
...                 ...         ...
186   Veggie Salad Bowl       11.25
295   Veggie Salad Bowl       11.25
3889  Veggie Soft Tacos       16.98
738   Veggie Soft Tacos       11.25
1699  Veggie Soft Tacos       11.25

[1130 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [32]:
expensive_orders[expensive_orders.item_price == expensive_orders.item_price.max()].quantity
# expensive_orders.max()

3598    15
Name: quantity, dtype: int64

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [40]:
chipo[chipo.item_name == "Veggie Salad Bowl"].count()

order_id              18
quantity              18
item_name             18
choice_description    18
item_price            18
dtype: int64

### Step 9. How many times did someone order more than one Canned Soda?

In [45]:
more_than_one_soda = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]
more_than_one_soda

      order_id  quantity    item_name choice_description  item_price
18           9         2  Canned Soda           [Sprite]        2.18
51          23         2  Canned Soda     [Mountain Dew]        2.18
162         73         2  Canned Soda        [Diet Coke]        2.18
171         76         2  Canned Soda  [Diet Dr. Pepper]        2.18
350        150         2  Canned Soda        [Diet Coke]        2.18
352        151         2  Canned Soda        [Coca Cola]        2.18
698        287         2  Canned Soda        [Coca Cola]        2.18
700        288         2  Canned Soda        [Coca Cola]        2.18
909        376         2  Canned Soda     [Mountain Dew]        2.18
1091       450         2  Canned Soda       [Dr. Pepper]        2.18
1092       450         2  Canned Soda        [Coca Cola]        2.18
1944       787         2  Canned Soda       [Dr. Pepper]        2.18
2135       859         2  Canned Soda        [Diet Coke]        2.18
2235       901         4  Canned Soda           [Sprite]        4.36
2905      1156         2  Canned Soda        [Coca Cola]        2.18
2906      1156         2  Canned Soda           [Sprite]        2.18
3152      1258         2  Canned Soda       [Dr. Pepper]        2.18
3364      1349         2  Canned Soda        [Coca Cola]        2.18
3592      1440         2  Canned Soda        [Diet Coke]        2.18
3866      1550         2  Canned Soda     [Mountain Dew]        2.18

In [48]:
print(more_than_one_soda.shape[0])

20